<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%style{%d{YYYY-MM-dd HH:mm:ss}}{cyan}|%highlight{%p}{FATAL=Bright red bold , ERROR=Bright red, WARN=Bright yellow bold, INFO=Bright green bold, DEBUG=Bright blue bold, TRACE=Bright black}|%style{%-20logger{1}}{yellow}|%X{RequestLogId}|%t|:%m%n</pattern>
                charset="UTF-8"
            </PatternLayout>
        </Console>
        <RollingFile name="ErrorFile"
                     fileName="logs/error.log"
                     filePattern="logs/archived/error.%d{yyyyMMdd}-%i.gz">
            <PatternLayout>
                <charset>UTF-8</charset>
                <pattern>%d{YYYY-MM-dd HH:mm:ss,SSS} [%-6p] [%t] %c{3} - %m%n</pattern>
                <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFile"
                     fileName="logs/appLog.log"
                     filePattern="logs/archived/appLog.%d{yyyyMMdd}-%i.gz">
            <PatternLayout>
                <charset>UTF-8</charset>
                <pattern>%d{YYYY-MM-dd HH:mm:ss,SSS} [%-6p] [%t] %c{3} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile" level="ERROR"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</configuration>